.header {
  grid-area: header;
}

.article {
  grid-area: article;
}

.section {
  grid-area: section;
}
.section-project {
  grid-area: section-project;
}
.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  height: auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 20px;
  grid-template-areas:
    "header"
    "article"
    "article"
    "section"
    "section"
    "section"
    "aside"
    "footer";
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .grid-container {
    display: grid;
    height: 97vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr 3fr 1fr;
    gap: 20px;
    grid-template-areas:
      "header header"
      "article aside"
      "section section"
      "footer footer";
  }
  body {
    background: aqua;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--black);
  padding: 10px 20px;
}

.navbar .logo {
  color: white;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a {
  color: var(--white);
  text-decoration: none;
}

.toggle-btn {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.nav-links.show {
  display: flex;
}

.toggle-btn {
  display: block;
}
/*
@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    height: 97vh;
    grid-template-columns: repeat(3fr, 1fr);
    grid-template-rows: 1fr 3fr 3fr 1fr;
    gap: 20px;
    grid-template-areas:
      "header header header"
      "article article aside"
      "section section section"
      "footer footer footer";
  }
  body {
    background: red;
  }
  
}
*/
