* {
  box-sizing: border-box;
}

:root {
  --white: #fcfcfc;
  --black: #050505;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
  color: var(--black);
}

h1 {
  text-align: center;
}

.form {
  width: 100%;
  max-width: 200px;
}

.flex-item,
.grid-item {
  padding: 15px;
  border: 10px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  font-size: 2.4em;
  text-align: center;
}

.flex-item {
  width: 160px;
  height: 80px;
  margin: 20px;
}
